/*   INFRA   */

body {
    background-color: #a9b7c2;
    font-family: Verdana, Arial, Helvectica, sans-serif;
    font-size: 12px;
    margin: 0;
}

.container {
    max-width: 800px;
    width: 95%;
    height: 1000px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 10px;
}

/*   HEADER   */

.header-container {
    position: relative;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
}

.header {
    position: relative;
    background: linear-gradient(
        to bottom,
        #a7d0f5 0%,
        #6db3e6 10%,
        #4a90d6 60%,
        #357abd 100%
    );
    background-color: #649fcc; /* #649fcc */
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border: 1px solid #2f66b1;
    border-radius: 5px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70%;

    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0)
    );
}

.header h1 {
    font-size: 30px;
    margin-bottom: 5px;
    text-shadow: 0.5px 1px 1px rgba(0,0,0,0.4);
}

.header p {
    margin-top: 0px;
}

h1 sup {
    font-size: 0.3em;
    font-weight: normal;
}

.header-corner {
    color: #ffffff;
    margin: 2px;
    position: absolute;
    bottom: 5px;
    right: 12px;
    font-size: 12px;
}

/*   SUB-HEADER   */
.sub-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #cae5fa;
    color: #132f45;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #2f66b1;
}

.sub-header p {
    margin: 0px;
}

/*   BODY   */

.content-wrapper {
    margin-top: 10px;
    display: flex;
}

.sidebar {
    flex: 1;
    background-color: #ffffff;
    padding-right: 10px;
    border-right: 1px solid black;
}

.sidebar-title {
    background-color: #cae5fa;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #2f66b1;
}

.sidebar-button {
    background-color: #cae5fa;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid #2f66b1;
}

.sidebar-box {
    background-color: #ffffff;
    margin: 0px;
    border: 1px solid #2f66b1;
}

/*   MAIN CONTENT   */

.main-content {
    flex: 3;
    border: 0px;
    padding: 20px;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid black;
    }

    .main-content {
        padding: 15px;
    }

    .header h1 {
        font-size: 24px;
    }

    .header-corner {
        font-size: 10px;
        bottom: 5px;
        right: 8px;
    }
}
