@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/*   INFRA   */

body {
    background-color: #7aa4c4;
    background-image: radial-gradient(#6486a1 1px, transparent 1px);
    background-size: 10px 10px;
    font-family: Verdana, Arial, Helvectica, sans-serif;
    font-size: 12px;
    margin: 0;
}

.container { 
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
    height: 1000px;
    background-color: transparent;
    padding: 10px;
}

/*   HEADER   */

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 70%;
    margin: 20px auto 10px auto;
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header {
    position: relative;
    background: linear-gradient(
         to bottom,
         #6db3e6 0%,
         #4a90d6 30%,
         #357abd 100%
    );
    background-color: #649fcc; /* #649fcc */
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    border: 1px solid #2f66b1;
    border-radius: 7px;
    margin-bottom: 10px;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;

    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0)
    );
}

.header h1 {
    font-size: 30px;
    margin-bottom: 5px;
    text-shadow: 0.5px 1px 1px rgba(0,0,0,0.4);
}

.header p {
    margin-top: 0px;
}

h1 sup {
    font-size: 0.3em;
    font-weight: normal;
}

.header-corner {
    color: #ffffff;
    margin: 2px;
    position: absolute;
    bottom: 5px;
    right: 12px;
    font-size: 12px;
}

/*   SUB-HEADER   */
.sub-header {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #cae5fa;
    color: #132f45;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #2f66b1; 
}

.sub-header p {
    margin: 0px;
}

/*   BODY % SIDEBAR   */

.content-wrapper {
    gap: 20px;
    display: flex;
}

.sidebar {
    font-size: 14px;
    position: relative;
    flex: 0 0 200px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

.sidebar .box-heading-shadow {
    font-weight: normal;
    text-align: center;
    color: white;
    background: linear-gradient(
         to bottom,
         #cae5fa 0%,
         #6db3e6 30%,
         #4a90d6 40%,
         #357abd 100%
    );
    background-color: #649fcc; /* #649fcc */
    border: 0px;
}

.sidebar .box {
    background-color: #ffffff;
    border: 1px solid #357abd;
}

.sidebar ul {
    font-size: 16px;
}

/*   MAIN CONTENT   */

.main-content {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0d3b73;
    font-size: 16px;
    flex: 3;
    border: 1px solid black;
    padding: 20px;
}

.main-content h2 {
    flex: 1;
    font-family: "Instrument Serif", "Libre Caslon Display", "Times New Roman", Georgia, Times, serif;
    /* font-style: italic; */
    font-weight: normal;
    font-size: 80px;
    letter-spacing: 2px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-content h3 {
	font-family: "Libre Caslon Display", "Times New Roman", Georgia, Times, serif;
	/* font-style: italic; */
	font-weight: normal;
	font-size: 40px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.main-content p {
	margin: 0px;
	margin-top: 5px;
}

.main-content p.italic {
    font-family: ui-serif, "Times New Roman", Georgia, Times, serif;
    font-size: 16px;
    padding: 0px;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-style: italic;
}

/* COMPONENTS */

.box-heading-shadow {
    background-color: #cae5fa;
    padding: 5px;
    margin: 0px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #2f66b1;
    border-right: 1px solid #2f66b1;
}

.box-heading {
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid #2f66b1;
}

.box {
    margin: 0px;
    border: 1px solid #2f66b1;
}

.box p {
    margin: 0px;
    padding: 10px;
}

.scroll-box {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid black;
    }

    .main-content {
        padding: 15px;
    }

    .header h1 {
        font-size: 24px;
    }

    .header-corner {
        font-size: 10px;
        bottom: 5px;
        right: 8px;
    }
}
